* {
  margin: 0;
}

html, body, #root {
  min-height: 100vh;
  height: 100%;
}

#root {
  background-image: url('./assets/bg_image.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  padding-top: 64px;
}
